# git check-attr text -- <文件名>
# git check-attr eol -- <文件名>
# git ls-files --eol

# 提交后本地不会刷新最新
# git rm --cached -r .
# git reset --hard
* text=auto eol=crlf
# *.txt text eol=crlf
# *.js text eol=crlf
# *.html text eol=crlf
# *.css text eol=crlf
# *.md text eol=crlf
# *.json text eol=crlf
# *.xml text eol=crlf
# * text=auto eol=lf
# *.txt text eol=lf
# *.js text eol=lf
# *.html text eol=lf
# *.css text eol=lf
# *.md text eol=lf
# *.json text eol=lf
# *.xml text eol=lf